development:
  adapter: postgresql
  encoding: utf8
  database: itedd_development
  username: itedd
  password:

test:
  adapter: postgresql
  encoding: utf8
  database: itedd_test
  username: itedd
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: itedd_production
  username: itedd
  password:
