/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require organizer

 *= require_tree .
 */

@import 'foundation-icons';


/* Page Text */
p {
 color: #5F5C5C;
}

.header_text {
  font-size: 32px;
  margin-bottom: 0;
  text-align: center;
  font-weight: normal;
  color: #5F5C5C;
}

.welcome_text {
  margin-top: 20px;
  text-align: center;
  line-height: 1.8em;
}

/* Top Menu */
nav.top-bar {
  box-shadow: 0 1px 6px rgba(34, 25, 25, 0.6);
  text-align:center;
}

section.top-bar-section {
  display: inline-block;
}

@media only screen and (max-width: 40em) {
  section.top-bar-section {
    display: block;
  }
}

.nav-bar {
  margin-top: 0;
  background: none;
}

.nav-bar > li, .title-area > li {
  border: 0;
  padding: 0;
  /*font-family: 'Open Sans Condensed',sans-serif;*/
  letter-spacing: 1px;
  box-shadow: none;
  h1 {
    color: #5F5C5C;
  }
}

.nav-bar > li > a:first-child {
  font-size: 14px;
  /*text-transform: uppercase;*/
  padding: 0 25px
}

/* Header area */

header {
  background: #f3f3f3;
  clear: both;
  padding: 20px 0 20px;
  border-bottom-style: ridge;
}

.event {
  padding-top: 10px;
}

.list_item_header {
  background: #f3f3f3;
  text-align: center;
  h2 {
    margin: 2px;
    color: #5F5C5C;
    letter-spacing: 1px;
  }
}

.headline a{
  color: #504E4E;
  font-style: bold;
}

.social_item_bar {
  font-size: 30px;
  i {
    padding: 5px;
    color: rgba(0, 102, 204, 0.75);
  }

  i:hover {
    color: rgba(0, 102, 204, 1);
  }
}

.small_icons {
  font-size: 25px;
}

.first_line {
  padding-top: 7px;
  a {
    color: #5F5C5C;
  }
}

.last_line {
  padding-bottom: 15px;
}

.footer-bottom {
  background: #fafafa;
  overflow: visible;
  height: 32px;
  line-height: 32px;
  padding-left: 5px;
  margin-top: 50px;
 
  ul, p{
    list-style: none;
    color: #5F5C5C;
    margin: 5px;
  }
 
  a {
    color: #5F5C5C;
    font-size: 85%;
  }
}

/*
.embedded_container {
  padding: 0px;
  width: 100%;
}

.destroyed {
  color: darkgrey;

  a {
    color: darkgray;
  }
}
*/
