/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require organizer

 *= require_tree .
 */

@import 'foundation-icons';

.first_line {
  padding-top: 7px;
}
.last_line {
  padding-bottom: 15px;
}
.footer-bottom {
  background: #333333;
  color: white;
  overflow: visible;
  height: 32px;
  line-height: 32px;
  padding-left: 5px;
  margin-top: 16px;

  a {
    color: white;
  }
}

.embedded_container {
  padding: 0px;
  width: 100%;
}

.destroyed {
  color: darkgrey;

  a {
    color: darkgray;
  }
}

