// Place all the styles related to the Embedded controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar_filter {
  margin: 5px;
}

.eventsCalendar-list li time small {
  visibility: hidden;
}

#embedded_calendar_source_textarea, #embedded_list_source_textarea {
  min-height: 60px;
  min-width:  100%;
}

#embedded_calendar_iframe, #embedded_list_iframe {
  border: 0px;
  overflow: auto;
}

.embedded_container {
  height: 95%;
}

.row.embedded_item {
  margin-top: 30px;
}
