.events {
  margin: 10px;
  li {
    list-style-type: none;
  }
}

.event {
  .logo {
    display: inline;
    float: left;
  }
  .text {
  }
  .actions {
    font-size: 10px;
    display: inline;
  }
}
